.overlay.share-overlay {
  .control-button-container {
    margin: 0 0;
  }

  .share-icons {
    margin: 40px 0 16px 0;

    .btn-social-network {
      margin: 0 8px;
    }
  }

  .link-options-container {
    width: auto;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;

    .copy-url-row {
      display: flex;

      .input-copy-url {
        margin: 0;
      }
      .btn-copy-url {
        .icon {
          margin-top: 0px;
          border: 0px;
        }
      }
    }
    .video-start-options-row {
      margin-top: 16px;
      text-align: center;

      .checkbox {
        margin-right: 15px;
      }
      .form-group {
        margin: 0;
      }
    }
  }
}

.share-main-container {
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.player.size-sm,
.player.size-xs {
  .overlay.share-overlay {
    .share-icons {
      margin: 24px 0 8px 0;
    }
  }
  .link-options-container {
    .video-start-options-row {
      margin-top: 8px;
    }
  }
}

.startAtInput {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  &.disabled {
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
