.overlay.share-overlay {
  .overlay-contents {
    backdrop-filter: blur(16px);
  }

  .control-button-container {
    margin: 0 0;
  }

  .share-icons {
    margin: 40px 0 16px 0;

    .btn-social-network {
      margin: 0 8px;
    }
  }

  .link-options-container {
    width: auto;
    display: inline-block;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;

    .copy-url-row {
      display: flex;

      .input-copy-url {
        margin: 0;
      }
      .btn-copy-url {
        .icon {
          margin-top: 0px;
          border: 0px;
        }
      }
    }
    .video-start-options-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 16px;

      .video-start-options-row {
        margin-top: 13px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .radio-button {
          font-size: 15px;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 14px;
          width: 120px;

          input {
            display: none;
          }
          label {
            margin-left: 8px;
          }
        }
        .form-group {
          margin: 0;
        }

        .clip-time-slots-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          .clip-rectangle {
            width: 8px;
            height: 2px;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.4);
            margin-right: 8px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.share-main-container {
  width: 312px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.player.size-sm,
.player.size-xs {
  .overlay.share-overlay {
    .share-icons {
      margin: 24px 0 8px 0;
    }
  }
  .link-options-container {
    .video-start-options-row {
      margin-top: 8px;
    }
  }
}

.startAtInput {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  &.disabled {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
