@import '~@playkit-js/playkit-js-ui';

.overlay.share-overlay {
  .header {
    font-weight: 500;
    font-size: 32px;
    margin-top: 25px;
  }
}

.size-md {
  .overlay.share-overlay {
    .header {
      font-size: 25px;
      margin-top: 0;
    }
  }
}

.size-sm,
.size-xs,
.size-ty {
  .overlay.share-overlay {
    .header {
      font-size: 20px;
      margin-top: 0;
    }
  }
}

.overlay.share-overlay {
  .overlay-contents {
    display: flex;
    align-items: center;
    padding: 10px !important;
    color: $tone-1-color;
    overflow-y: initial;

    :global(.overlay-screen) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .close-overlay {
    top: 15px !important;
    right: 15px !important;
  }

  .control-button-container {
    margin: 0 0;
  }

  .share-icons {
    margin: 16px 0 16px 0;

    .btn-social-network {
      margin: 0 8px;
    }
  }

  .link-options-container {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 0 auto;

    .copy-url-row {
      display: flex;

      .input-copy-url {
        margin: 0;

        .form-control {
          background-color: $tone-8-color;
          color: $tone-1-color;
          border: 1px solid $tone-4-color;
        }
      }
      .btn-copy-url {
        .icon {
          margin-top: 0px;
          border: 0px;
        }
      }
    }
    .video-start-options-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 16px;

      .video-start-options-row {
        margin-top: 13px;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .radio-button {
          font-size: 15px;
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 14px;
          width: 120px;

          input {
            display: none;
          }
          label {
            margin-left: 8px;
          }
        }
        .form-group {
          margin: 0;
        }

        .clip-time-slots-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          .clip-rectangle {
            width: 8px;
            height: 2px;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.4);
            margin-right: 8px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.share-main-container {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.player.size-md,
.player.size-sm,
.player.size-xs {
  .overlay.share-overlay {
    .share-icons {
      margin: calc(8px - 100% * 0.01) 0;
    }
  }
  .link-options-container {
    .video-start-options-row {
      margin-top: 8px;
    }
  }
}

.startAtInput {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  &.disabled {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
